/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background-color: #C8AC58;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 550px;
  /* height: 800px; */
  margin: 0 auto;
  flex-direction: column;
  /* background-color: grey; */
}

.foot {
  text-align: center;
  color: #5e0c0c;
  font-family: 'Source Sans Pro', sans-serif;
}