/* Universal Background */

body {
  background-color: #C8AC58;
}

/* Landing Page */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 550px;
  height: 800px;
  margin: 0 auto;
  margin-top: 5%;
  /* background-color: grey; */
}

/* Title Text */

#titlesign {
  position: absolute;
  display: block;
  margin-top: 15%;
  text-align: center;
}

#titlesign>a {
  color: #5e0c0c;
}

#title {
  font-family: 'Flavors', cursive;
  font-size: 66pt;
  color: #5e0c0c;
}

#line {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #5e0c0c;
}

/* Regular page title */

#titlesign-main>a {
  color: #5e0c0c;

}

/*Landing Page Carousel*/

#carousel {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  width: 460px;
  height: 200px;
  margin-top: 90%;
}

.showcase {
  position: relative;
  justify-content: center;
  width: 100%;
}

.slideCap {
  text-align: center;
  padding-top: 5%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5e0c0c;
}

img {
  border-radius: 55px;
  color: #5e0c0c;
  border-style: dotted;
  border-left: 3px;
  border-right: 3px;
  padding: 4px;
}

/* Main */

.container-master {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin: 0 auto;
  height: 1012px;
  width: 900px;
  background-color: grey;
}

.header {
  position: relative;
  display: flex;
  margin-top: 5%;
}

#line2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #5e0c0c;
  top: -12px;
}

/* Navigation */

.nav-master {
  position: absolute;
  display: block;
  align-self: center;
  right: 0px;
  top: 0px;
  margin-top: 35%;
  /* background-color: black; */
}

.panel-title {
  height: 20px;
}

.subRec {
  position: absolute;
  display: block;
  align-self: center;
  left: 0px;
  top: 0px;
  margin-top: 35%;
  /* background-color: black; */
  height: 27px;
}

.panel-title .subRec {
  font-family: 'Source Sans Pro', sans-serif;
}

h4>a {
  color: #5e0c0c;
  font-size: 1.5em;
}

h4>a>#collapse1 {
  right: 0px;
}

ul>li>a {
  color: #5e0c0c;
}
