<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    
    <!-- Navigation -->
    <div class="nav-master">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">Menu</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group">
          <li class="list-group-item"><a href="mealtype.html">Meal Type</a></li>
          <ul>
            <li class="sublist-group-item"><a href="appsnacks.html">Appetizers & Snacks</a></li>
            <li class="sublist-group-item"><a href="breakbrunch.html">Breakfast & Brunch</a></li>
            <li class="sublist-group-item"><a href="desserts.html">Desserts</a></li>
            <li class="sublist-group-item"><a href="dinner.html">Dinner</a></li>
            <li class="sublist-group-item"><a href="drinks.html">Drinks</a></li>
          </ul>
          <li class="list-group-item"><a href="dishtype.html">Dish Type</a></li>
          <ul>
            <li class="sublist-group-item"><a href="breads.html">Breads</a></li>
            <li class="sublist-group-item"><a href="cakes.html">Cakes</a></li>
            <li class="sublist-group-item"><a href="salads.html">Salads</a></li>
            <li class="sublist-group-item"><a href="smoothies.html">Smoothies</a></li>
            <li class="sublist-group-item"><a href="soupsstews.html">Soups, Stews & Chilis</a></li>
          </ul>
          <li class="list-group-item"><a href="worldcuisine.html">World Cuisine</a></li>
          <ul>
            <li class="sublist-group-item"><a href="asian.html">Asian</a></li>
            <li class="sublist-group-item"><a href="indian.html">Indian</a></li>
            <li class="sublist-group-item"><a href="italian.html">Italian</a></li>
            <li class="sublist-group-item"><a href="mexican.html">Mexican</a></li>
            <li class="sublist-group-item"><a href="southern.html">Southern</a></li>
          </ul>
          <li class="list-group-item"><a href="ingredients.html">Ingredients</a></li>
          <ul>
            <li class="sublist-group-item"><a href="beef.html">Beef</a></li>
            <li class="sublist-group-item"><a href="chicken.html">Chicken</a></li>
            <li class="sublist-group-item"><a href="pasta.html">Pasta</a></li>
            <li class="sublist-group-item"><a href="pork.html">Pork</a></li>
            <li class="sublist-group-item"><a href="fish.html">Fish</a></li>
          </ul>
          <li class="list-group-item"><a href="main.html">Main</a>    <a href="landing.html">Login</a></li>
        </ul>
      </div>
    </div>

  </body>
</html>
